__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
lib/
include/
bin/
pip-log.txt
pip-delete-this-directory.txt

# Django
*.log
local_settings.py
db.sqlite3



# IDEs
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Arquivos gerados pelo sistema operacional
.DS_Store
.Trashes
Thumbs.db
