/* Customização do logo */
.branding img {
    content: url('../images/logo_tecla_stock.png'); 
    height: 50px;
    margin: 0 auto;
}

/* Alteração de cores de fundo */
body {
    background-color: white;
}

.module h2 {
    background-color: #02e47e;
    color: white;
    padding: 10px;
    border-radius: 5px;
}

.module caption{
    background-color: #02e47e;
}

#header{
    background-color: #02e47e;
    
}